<template>
    <section>
        <header class="row align-center text-right">
            <div class="columns small-11 medium-10 menu">
                <router-link :to="{name: 'list'}"  class="">Home</router-link>
                <a href="/add">Add</a>
            </div>
        </header>
        <br>
        <router-view/>
    </section>
</template>

<script>
export default {
  name: 'App',
  data () {
      return {
         // url: this.$store.state.url
      }
  },

  mounted () {
     // this.$store.dispatch('countOrignalTotal');
  }


}
</script>

<style lang="scss">
    @import './assets/foundation.min.scss';
    body {
        padding: 2em 0;
        font-size: 16px;
        background-color: #222222;
        color: white;
    }

    .menu {
        a {
            display: inline-block;
            margin-right: 1em
        }
    }

    form {
        label {
            color: white;
        }
    }

    .callout {
        background-color: #e87a7a;
        padding: 1em 1em .4em;
        margin-bottom: 1em;
    }
</style>
