<template lang="html">
    <section>
        <div class="row align-center">
            <div class="columns small-11 medium-10">
                <h3>{{title}}</h3>
            </div>
            <div v-if="errors.length > 0" class="columns small-11 medium-10">
                <div class="callout alert">
                    <ul>
                        <li v-for="error in errors">{{error}}</li>
                    </ul>
                </div>
            </div>
            <div class="columns small-11 medium-10">
                <form class="row align-justify" @submit="validate">
                    <div class="column small-11 large-6">
                        <label for="">
                            Name
                            <input type="text" v-model="employee.name">
                        </label>
                    </div>
                    <div class="column small-11 large-6">
                        <label>
                            Email
                            <input type="email" v-model="employee.email">
                        </label>
                    </div>
                    <div class="column small-11 large-6">
                        <label for="">
                            Job Title
                            <input type="text" v-model="employee.job">
                        </label>
                    </div>
                    <div class="column small-11 large-6">
                        <label for="">
                            Job Area
                            <input type="text" v-model="employee.jobArea">
                        </label>
                    </div>
                    <div class="column small-11 large-6">
                        <label for="">
                            Phone
                            <input type="text" v-model="employee.phone">
                        </label>
                    </div>
                    <div class="column small-11 large-6">
                        <label for="">
                            Street
                            <input type="text" v-model="employee.address.street">
                        </label>
                    </div>
                    <div class="column small-11 large-6">
                        <label for="">
                            City
                            <input type="text" v-model="employee.address.city">
                        </label>
                    </div>
                    <div class="column small-11 large-6">
                        <label for="">
                            Country
                            <select v-model="employee.address.country">
                                <option v-for="country in countries" :value="country">{{country}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="columns small-11 large-12 text-center">
                        <br>
                        <button type="submit" class="button large" name="button">{{title}}</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
    import lodash from 'lodash';
    export default {
        name: 'EmployeeForm',
        data() {
            return {
                employee: {
                    address : {}
                },
                queriedURL: '',
                errors: [],
            }
        },
        props: ['title', 'action'],

        created() {
            if(this.action=='edit') {

                var id = this.$route.params.id,
                    $t = this;
                this.queriedURL = this.url+'/'+id;

                this.$axios.get(this.queriedURL)
                .then(function(response){
                    $t.employee = response.data;
                }).catch(function(err){
                    console.log(err);
                });
            }else {
                this.queriedURL = this.url;
            }
        },
        computed : {
            url: function() {
                return this.$store.state.url;
            },
            countries: function() {
                let countries = this.$store.state.countries;
                return countries.sort();
            },

            redirectedURL: function() {
                var redirectedURL = '/';
                if(this.action=='edit') {
                    redirectedURL ='/profile/'+this.$route.params.id;
                }
                return redirectedURL;
            }
        },
        methods: {
            validate: function(e){
                e.preventDefault();
                this.errors = [];

                if( !this.employee.name || !this.employee.email || !this.employee.job || !this.employee.jobArea || !this.employee.phone || !this.employee.address.street || !this.employee.address.city || !this.employee.address.country  ) {
                    this.errors.push('All fields are required');
                }

                if( !this.validEmail(this.employee.email) ) {
                    this.errors.push('Wrong email address');
                }

                if(!this.errors.length) {//if no error
                    this.$store.dispatch('editUser', {
                        employee: this.employee,
                        url: this.queriedURL,
                        action: this.action
                    });
                    alert(this.title+' successfully!')
                    //console.log(this.redirectedURL);
                    window.location.href=this.redirectedURL;
                    //this.$router.push(this.redirectedURL);
                }


            },

            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },


        }
    }
</script>
