<template lang="html">
    <article class="row align-center employee">
        <div class="columns small-12 medium-2">
            <router-link :to="{name: 'single', params:{id: employee.id}}"><img :src="employee.avatar" /></router-link>
        </div>
        <div class="columns small-12 medium-6">
            <h4>{{employee.name}}</h4>
            <h6>{{employee.job}}</h6>
            <p>
                Email: <a :href="'mailto:'+employee.email">{{employee.email}}</a><br />
                Phone: {{employee.phone}}
            </p>
            <p>
                <a v-if="employee.active == true" class="button alert tiny" href="#" @click="$emit('updateUser',employee)">Deactivate</a>
                <a v-if="employee.active == false" class="button tiny" href="#" @click="$emit('updateUser',employee)">Reactivate</a>
                <!-- <a :href="'/edit/'+employee.id" class="button tiny">Edit</a>
                <router-link :to="{name: 'single', params:{id: employee.id}}"></<router-link :to="{ name: '', params: {} }"></router-link>> -->

                <router-link :to="{ name: 'edit', params: {id:employee.id} }" class="button tiny">Edit</router-link>
            </p>
        </div>
    </article>
</template>

<script>
export default {
    name: 'EmployeeView',
    props: ['employee', 'isActiveList']
}
</script>

<style lang="css" scoped>
</style>
