<template id="employee-list">
    <div>
        <section class="row align-center">
            <div class="columns small-11 medium-5">
                <button @click="isActiveList=!isActiveList" class="button success">Switch list</button>
                <br />
                <h2>List - {{totalCount}} <span v-if="isActiveList">active</span> <span v-else>inactive</span> </h2>
                <h5 v-if="totalCount > 0">Showing {{startPage}}/{{totalPage}} pages</h5>
                <h6 v-if="searchQuery != ''">Search results for <em>{{searchQuery}}</em></h6>
            </div>
            <div class="columns small-11 medium-5">
                <input placeholder="Search by name e.g. Karma" type="text" name="search" v-model="searchQuery" value="">
            </div>
        </section>
        <employee-view
            v-for="employee in employees"
            :key="employee.index"
            :employee="employee"
            :isActiveList="isActiveList"
            v-on:updateUser="updateUser"
        >

        </employee-view>
        <div class="row">
            <div class="columns small-12 medium-9 text-center">
                <a class="button "
                    href="#"
                    v-if="startPage > 1" @click="paginate('down')">Previous</a>
                <a class="button "
                    href="#"
                    @click="paginate('up')"
                    v-if="startPage < totalPage">Next</a>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">

    import EmployeeView from './EmployeeView';

    //declare the component
    export default {
        name: 'EmployeeList',
        components: {
            EmployeeView
        },
        data() {return{}},
        watch: {
            searchQuery: function(){ //watch the change of the search
                this.startPage = 1;
                this.debouncedSearch();
            },
            isActiveList: function() {
                this.startPage = 1;
                this.getList();
            }
        },
        created() {
            //call the list of employees
            this.getList();
            //debounce to trigger the search function
            this.debouncedSearch = _.debounce(this.getList, 800);
        },

        computed: {
            employees () {
                return this.$store.state.employeeLst;
            },

            shownEmployeeCount () {
                return this.employees.length;
            },

            isActiveList: {
                get: function() {
                    return this.$store.state.isActiveList;
                },

                set: function(newIsActiveList) {
                    this.$store.commit('SET_ACTIVE_LIST', newIsActiveList);
                }
            },

            startPage: {
                get: function() {
                    return this.$store.state.startPage;
                },

                set: function(newStartPage) {
                    // this.$store.dispatch('editStartPage', newStartPage);
                    this.$store.commit('SET_START_PAGE', newStartPage);
                }
            },

            searchQuery: {
                get: function(){
                    return this.$store.state.query;
                },

                set: function(newQuery) {
                    this.$store.commit('SET_QUERY', newQuery);
                }
            },

            numberPerPage () {
                return this.$store.state.numberPerPage;
            },

            totalCount () {
                return this.$store.state.totalCount;
            },

            totalPage () {
                var round = Math.floor(this.totalCount / this.numberPerPage),
                    mod = this.totalCount%this.numberPerPage;

                if( mod > 0 ) round++;

                return round;
            }
        },

        methods: {
            paginate: function(direction) {
                if( direction == 'up' ) {
                    this.startPage++;
                    if( this.startPage > this.totalPage ) {
                        this.startPage = this.totalPage;
                    }
                }else {
                    this.startPage--;
                    if( this.startPage < 1 ) {
                        this.startPage = 1;
                    }
                }

                this.$store.dispatch('fetchEmployee', this.startPage);

            },

            updateUser: function(employee) {
    
                let isDeleted = confirm('Are u sure?');
                if(isDeleted) {
                    this.$store.dispatch('updateUser', employee);
                }
            },

            getList: function() {

                this.$store.dispatch('fetchEmployee');
                this.$store.dispatch('countOrignalTotal');
            }
        }
    }
</script>
<style lang="scss">
    .employee {
        margin-bottom: 1.5em
    }
</style>
