<template>
    <section>
        <div class="row align-center">
            <div class="columns small-11 medium-2">
                <img :src="employee.avatar" :alt="employee.name">
            </div>
            <div class="columns small-11 medium-8">
                <h4>{{employee.name}}</h4>
                <p>
                    <em>{{employee.job}} - {{employee.jobArea}}</em>
                </p>
                <p>
                    Email: <a :href="'mailto:'+employee.email">{{employee.email}}</a>
                    <br>
                    Phone: <a :href="'tel:'+employee.phone">{{employee.phone}}</a>
                </p>
                <address v-if="address != null">
                    Address: {{address.street}}, {{address.city}}, {{address.country}}
                </address>
                <p>
                    Status: <span v-if="employee.active==true">Active</span> <span v-if="employee.active==false">Inactive</span>
                </p>
            </div>
            <br>
            <div class="columns small-11 medium-10">
                <br>
                <router-link :to="{name: 'list'}"  class="button warning">Back</router-link>
                <router-link :to="{ name: 'edit', params: {id:this.$route.params.id} }" class="button success">Edit</router-link>
                <a v-if="employee.active == true" class="button alert" href="#" @click="updateUser">Deactivate</a>
                <a v-if="employee.active == false" class="button" href="#" @click="updateUser">Reactivate</a>
            </div>
        </div>
    </section>
</template>

<script type="text/javascript">
    export default{
        name: 'SingleEmployee',
        data() {
            return {
                employee: {},
                address: null
            }
        },
        created() {
            console.log('created');
            this.getEmployeeDetails();
        },

        watch: {
         '$route': 'getEmployeeDetails'
        },

        methods: {
            getEmployeeDetails: function(){
                var id = this.$route.params.id,
                    $this = this;
                this.$axios.get(this.$store.state.url+'/'+id)
                .then(function(response){
                    $this.employee = response.data;
                    if( $this.employee.address != null ) {
                        $this.address = $this.employee.address;
                    }
                }).catch(function(error){
                    console.log(error);
                })
            },

            updateUser: function() {
                let isDeleted = confirm('Are u sure?');
                if(isDeleted) {
                    this.$store.dispatch('updateUser', this.employee);
                    this.employee.active = !this.employee.active;
                }
            }
        }
    }
</script>
